#vencer {
        position: absolute;
        z-index: 4;
        background-color: white;

}

#ball{
        background-color: green;
}

#ball{
        transition: 3s;
        background-color: red;
}

#ball:active{
        transition: 0s;
        background-color: green;
        padding: 300 px;
}