
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/* Fonte Pixelify Sans*/
/* https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap */

#vencer {
        position: absolute;
        z-index: 4;
        background-color: white;
        font-family: "Pixelify Sans", sans-serif;
}

#ball{
        background-color: green;
}

#ball{
        transition: 4s;
        background-color: red;
}

#ball:active{
        transition: 0s;
        background-color: green;
        padding: 300 px;

}